@import url(./reset.css);
@import url(./media.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100%;

    font-size: 16px;
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
  }

.container {
    max-width: 1426px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Header */
.header {
    width: 100%;
    padding: 10px 0 10px;
    margin-bottom: 40px;

    background-color: rgb(208, 225, 245);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 10px;
}

.logo__title {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;

    color: rgb(97, 88, 219);

}

/* Nav */
.nav {
}
.nav__list {
    display: flex;
}

.list__item {
}

.list__item:not(:first-child) {
    margin-left: 20px;
}


.list__link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;

    color: rgb(97, 88, 219);
}

.list__link.active:hover,
.list__link:hover {
    color: rgb(13, 42, 104);
    
}

.list__link.active {
    color: rgb(63, 57, 139);
}

/* Main */

.main {
}

.main__inner {
    max-width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
}

/* Main Item */
.main__item {
    width: 33.333%;
    max-width: 400px;

    margin-bottom: 30px;
}
.main__image {
}
.image__title {
}
.image__text {
}

/* Footer */

.footer {
    flex: 0 0 auto;
    padding: 10px 0 10px;
    max-height: 100%;

    background-color: rgb(208, 225, 245);
}
